body {
    background-color: #E8F5E9;
}

h1 {
    text-align: center;
    color: #1B5E20;
    padding-bottom: 1em;
    font-size: 2em;
}

h3 {
    text-align: justify;
    color: #1B5E20;
    font-weight: bold;
}

p {
    color: #1B5E20;
}

.centered-img {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: block;
}

img {
    width: 20%;
    height: auto;
}

tr td {
    border: 1px solid black;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

#menu-principal {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 2em 0 0 0;
    font-size: 2em;
}
