@font-face {
    font-family: "Berthold";
    src: url("../fonts/berthold.ttf");
}
@font-face {
    font-family: "Impact";
    src: url("../fonts/impact.ttf");

}
    html {
    color: #02231c;
}

  html {
    background-color: #fff;
    color: #02231c;
    font-family: Verdana;
    margin: 0;
  }

  body {
    background-color: #1a6d5d;
    margin: 0;
    width: 585px;
  }

  #questions {
    margin: 0 auto;
    padding: 0em;
    text-align: justify;
  }

  #questions h1 {
    margin: 0;
    font-family: Impact;
    font-weight: 300;
    font-size: 1.5em;
  }
    #questions h2 {
    font-family: Berthold;
    font-weight: 300;
    font-size: 1.2em;
  }
    #questions p {
    font-family: Berthold;
    font-weight: 300;
    font-size: 1em;
  }
    .question {
    background-color: #fff;
    padding: 1em;
  }