@font-face {
    font-family: "Berthold";
    src: url("../fonts/berthold.ttf");
}
@font-face {
    font-family: "Impact";
    src: url("../fonts/impact.ttf");
}
    html {
    color: #02231c;
    font-family: Verdana;
  }

  body {
    background-color: #1a6d5d;
    width: 980px;
    height: 768px;
    margin: 0 auto;
  }
  #ifrm {
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    float: right;
    width: 60%;
    border: none;
    background-color: #1a6d5d;
  }

  #sidebar {
    background-color: #1a6d5d;
    float: left;
    width: 40%;
    position: fixed;
  }

h1 {
    text-align: center;
    font-family: Berthold;
    font-weight: 500;
    color: #fff;
    font-size: 1.8em;
    padding: 0 1em; 
  }
ul {
    text-align: left;
    font-family: Berthold;
    font-weight: 300;
    color: #fff;
    font-size: 1.6em;
}
.celular {
  clear: both;
  float: none;
    text-align:center;
    margin-top: 0.5em;
    margin-bottom:0px;
    padding:0px;
    display: block;

}
.celular img {
  margin: 1em auto; 
  margin-left: -2em;   
  }

  .logos {
  clear: both;
  float: none;
    text-align:center;
    margin-top: 0.5em;
    margin-bottom:0px;
    display: block;

}
 table .table {
  border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
} 
.table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #ccc;
}
.table th {
  background-color: #104E8B; 
  color: #FFF;
  font-weight: bold;
}